/* src/app/globals.css */
@import "tailwindcss";

/* Ton thème noir & blanc */
:root {
  --bg: #0a0a0a;
  --fg: #f4f4f5;
  --muted: #a1a1aa;
  --card: #171717;
  --border: #262626;
}

html, body {
  background: var(--bg);
  color: var(--fg);
}